@use "../utils/variables" as *;

/* main button */
.btn {
  display: inline-block;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 15px 20px;
  background: $gradient-btn;
  box-shadow: $shadow-btn;
  border-radius: 50px;
  margin: 15px 0;
  cursor: pointer;
  max-height: fit-content;
  transition: 150ms ease-in-out;

  &:hover {
    background: $gradient-btn-hover;
    box-shadow: $shadow-btn-hover;
  }
}

/* heart button */
.heart-btn {
  font-size: 1.5rem;

  i {
    cursor: pointer;
    background: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px black;
    position: relative;
    padding: 0 1.5px;

    &::after {
      content: "";
      position: absolute;
      width: 0px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      aspect-ratio: 1/1;
      opacity: 1;
      background-color: $color-primary;
      border-radius: 100%;
    }

    &:hover {
      background: $gradient-heart;
      background-clip: text;
      -webkit-background-clip: text;
      animation: fade 1s forwards;

      @keyframes fade {
        from {
          -webkit-text-stroke: 1.5px black;
          background: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        to {
          background: $gradient-heart;
          background-clip: text;
          -webkit-text-stroke: 1.5px transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &::after {
        animation: circle 1s ease-out forwards;
        @keyframes circle {
          0% {
            width: 0;
            opacity: 1;
          }
          100% {
            width: 50px;
            opacity: 0;
          }
        }
      }
    }
  }
}
