@use "../utils/variables" as *;

/* main button */
.btn {
  display: inline-block;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 15px 20px;
  background: $gradient-btn;
  box-shadow: $shadow-btn;
  border-radius: 50px;
  margin: 15px 0;
  cursor: pointer;
  max-height: fit-content;
  transition: 150ms ease-in-out;

  &:hover {
    background: $gradient-btn-hover;
    box-shadow: $shadow-btn-hover;
  }
}

/* heart button */
.heart-btn {
  font-size: 1.5rem;
  cursor: pointer;

  .fas {
    background: $gradient-heart;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    &::after {
      content: "\f004";
      position: absolute;
      left: 0;
      top: 0;

      /* replace 3 next instances of 'height' by 'opacity' or vice versa */
      height: 100%;
      transition: height 0.4s ease-in-out;

      -webkit-text-stroke: 1.5px black;
      /* background: $color-light-gray; */
      /* background-clip: text; */
      /* -webkit-background-clip: text; */
      -webkit-text-fill-color: transparent;
    }
  }

  &:hover {
    .fas::after {
      height: 0;

      animation-name: strokeFade;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;

      @keyframes strokeFade {
        from {
          -webkit-text-stroke: 1.5px black;
        }
        to {
          -webkit-text-stroke: 0px transparent;
        }
      }
    }
  }
}
