@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.usage {
  &__card {
    display: flex;
    align-items: center;
    padding: 25px 35px 25px 37px;
    margin-left: 12px;
    border-radius: 20px;
    background: $color-light-gray;
    box-shadow: $shadow-cards;
    position: relative;
    margin-bottom: 20px;
    cursor: default;
    transition: 150ms ease-in-out;

    &--highlight {
      background: $color-primary-light;
      box-shadow: $shadow-cards-hover;

      .fas {
        color: $color-primary;
      }
    }
  }

  &__number {
    height: 25px;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    border-radius: 50px;
    background: $color-primary;
    position: absolute;
    left: -12px;
  }

  .fas {
    color: $color-gray;
    margin-right: 20px;
  }

  &__card-text {
    font-weight: 500;
    color: $color-dark-gray;
  }
}

.restaurants {
  @media screen and (min-width: 768px) {
    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 35px;
    }
  }

  &__card {
    display: block;
    border-radius: 15px;
    box-shadow: $shadow-cards;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    transition: 150ms ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: $shadow-cards-hover;
    }

    &-img {
      height: 175px;
      overflow: hidden;
    }

    &-body {
      padding: 15px;
      position: relative;
      height: fit-content;
    }

    &-title {
      font-size: $size-card-title;
      line-height: 1;
      font-weight: 700;
      margin-bottom: 5px;
    }

    &-location {
      font-size: $size-card-text;
      font-weight: 300;
      margin-bottom: 5px;
    }

    &-label {
      position: absolute;
      right: 12px;
      top: 12px;
      padding: 10px;
      border-radius: 3px;
      line-height: 0.7;
      font-weight: 500;
      color: $color-tertiary-dark;
      background: $color-tertiary;
    }

    &-heart {
      font-size: 1.5rem;
      position: absolute;
      right: 25px;
      bottom: 30px;
      cursor: pointer;
      transition: color 150ms ease-in-out;

      .far {
        transform: translateX(125%);
      }

      .fas {
        opacity: 0;
        transition: opacity 150ms ease-in-out 150ms;
      }

      &:hover {
        color: $color-primary;

        .fas {
          opacity: 1;
        }
      }
    }
  }
}

.menu {
  &__card {
    padding: 15px;
    height: 65px;
    margin: 0 -7px;
    width: calc(100% + 14px);
    background: white;
    border-radius: 15px;
    box-shadow: $shadow-cards;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    transform: translateY(50%);
    opacity: 0;

    animation-name: menu-items-animate-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @for $i from 2 through 5 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.2 +0.5}s;
      }
    }

    @keyframes dish-type-animate-in {
      from {
        transform: translateY(10%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes menu-items-animate-in {
      from {
        transform: translateY(50%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &:hover &-hidden-panel {
      margin-right: -15px;

      i {
        transform: rotate(360deg);
      }
    }

    &-content {
      min-width: 0;
      width: 100%;
    }

    &-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      font-size: $size-card-title-menu-page;
      font-weight: 500;
      margin-top: 2px;
    }

    &-text {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      font-size: $size-card-text-menu-page;
      font-weight: 300;
    }

    &-price {
      font-size: $size-card-price-menu-page;
      font-weight: 700;
      padding: 0 10px;
      margin-right: 15px;
      line-height: 0.8;
      align-self: end;
    }

    &-hidden-panel {
      height: calc(100% + 30px);
      width: 60px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -30px;
      margin-bottom: -30px;
      margin-right: -75px;
      background: $color-tertiary;
      transition: margin-right 500ms ease-in-out;

      i {
        color: white;
        font-size: 1.35rem;
        transition: transform 500ms ease-in-out;
      }
    }
  }
}
