@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/cards" as *;

.image {
  height: 260px;
  position: relative;
  z-index: -1;
}

.menu {
  background: $color-medium-gray;
  padding-top: 40px;
  border-radius: 40px 40px 0 0;
  margin-top: -45px;
  z-index: 0;

  &__title {
    font-family: "Shrikhand", sans-serif;
    font-size: $size-main-title-menu-page;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

    i {
      margin-right: 20px;
    }
  }

  &__dish-type {
    margin-bottom: 40px;
  }

  &__dish-type-title {
    font-size: $size-card-title;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 45px;
      left: 0;
      bottom: -10px;
      background: $color-tertiary;
    }
  }

  &__card {
    padding: 15px;
    margin: 0 -7px;
    height: 65px;
    width: calc(100% + 14px);
    background: white;
    border-radius: 15px;
    box-shadow: $shadow-cards;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    transform: translateY(50%);
    opacity: 0;

    animation-name: menu-items-animate-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.175}s;
      }
    }

    @keyframes menu-items-animate-in {
      from {
        transform: translateY(50%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &:hover &-hidden-panel {
      margin-right: -15px;

      i {
        transform: rotate(360deg);
      }
    }

    &-content {
      min-width: 0;
      width: 100%;
    }

    &-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      font-size: $size-card-title-menu-page;
      font-weight: 500;
      margin-top: 2px;
    }

    &-text {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      font-size: $size-card-text-menu-page;
      font-weight: 300;
    }

    &-price {
      font-size: $size-card-price-menu-page;
      font-weight: 700;
      padding: 0 10px;
      margin-right: 15px;
      line-height: 0.8;
      align-self: end;
    }

    &-hidden-panel {
      height: calc(100% + 30px);
      width: 60px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -30px;
      margin-bottom: -30px;
      margin-right: -75px;
      background: $color-tertiary;
      transition: margin-right 300ms ease-out;

      i {
        color: white;
        font-size: 1.35rem;
        transition: transform 300ms ease-out;
      }
    }
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    margin-bottom: 60px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
