@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/cards" as *;

.image {
  height: 260px;
  position: relative;
  z-index: -1;
}

.menu {
  background: $color-medium-gray;
  padding-top: 40px;
  border-radius: 40px 40px 0 0;
  margin-top: -45px;
  z-index: 0;

  &__title {
    font-family: "Shrikhand", sans-serif;
    font-size: $size-main-title-menu-page;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

    i {
      margin-right: 20px;
    }
  }

  &__dish-type {
    margin-bottom: 40px;

    opacity: 0;
    transform: translateY(10%);

    animation-name: dish-type-animate-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @for $i from 2 through 4 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.2 + 0.25}s;
      }
    }
  }

  &__dish-type-title {
    font-size: $size-card-title;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 45px;
      left: 0;
      bottom: -10px;
      background: $color-tertiary;
    }
  }
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    margin-bottom: 60px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
