@use "../base/base";
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.header {
  @include center-flex;
  box-shadow: $shadow-card;

  &__logo {
    width: 165px;
    margin: 20px 0 10px 0;
  }
}
