@use "../base/base";
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: loadingScreen 3s linear forwards;

  @keyframes loadingScreen {
    94% {
      opacity: 1;
    }
    99.99% {
      opacity: 0;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  animation: wholeSpin 3s linear infinite;

  @keyframes wholeSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__circle {
    &-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50px;

      border: 7px solid $color-medium-gray;
      z-index: -1;
    }

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;

    border: 7px solid transparent;
    border-bottom: 7px solid $color-primary;

    @for $i from 2 through 5 {
      &:nth-child(#{$i}n) {
        animation: spin 1s ease-in-out infinite #{$i * 0.14}s;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
